<% include partials/header%>

<div class="ui container main text">
  <div class="ui top attached segment">
    <div class="ui divided items">
      <% blogs.forEach(function(blog) { %>
        <div class="item">
          <div class="image">
            <img src="<%=blog.image%>" height="200px" alt="">
          </div>
          <div class="content">
            <a class="header" href="/blogs/<%= blog._id%>"><%=blog.title%></a>
            <div class="meta">
              <span><%=blog.created.toDateString()%></span>
            </div>
            <div class="dexcription">
              <p><%=blog.body.substring(0, 100)%>...</p>
            </div>
            <div class="extra">
              <a class="ui floated basic violent button" href="/blogs/<%= blog._id%>">Read More <i class="right chevron icon"></i> </a>
            </div>
          </div>
        </div>
        <% }) %>
    </div>
  </div>
</div>

<% include partials/footer%>
